/********** The switch - the box around the slider *************/
:root {
	--toggle-thumb-diameter: 20px;
	--toggle-height: 28px;
	--toggle-width: 54px;

	--lg-text: 15px;
	--normal-text: 13px;
	--small-text: 11px;

	--bg-color: #333;
	--bg: #282c34;
	--dark-bg: #191a1b;
	--shadow: #31363f;

	--text-color: #efe;
	--alt-text: #cdcdcd;
	--alt-text-light: #696060;

	--accent: goldenrod;
	--danger: #b71c1c;

	--modal-width: 450px;
}
* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	padding: 0;

	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: var(--bg-color);
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg);

	color: var(--text-color);
	font-size: min(calc(8px + 2vmin), 22px);
}

* {
	box-sizing: border-box;
}

h1 {
	padding-left: 2rem;
}

h5 {
	margin: 0;
}

p {
	font-size: var(--normal-text);
	margin: 0;
}
p.bold {
	font-weight: 600;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

table {
	/* border: 1px solid; */
	margin: auto;
}

th,
td {
	font-size: 0.8rem;
	padding-inline: 0.25rem;
}

button {
	cursor: pointer;
	border: none;
	transition: opacity 0.5s;
	padding: 0.5rem;
	border-radius: 1rem;
	background-color: var(--accent);
	color: #fff;
	font-weight: 600;
}

button:hover {
	opacity: 0.7;
}

button[title^='deletar'] {
	background-color: var(--danger);
}

form {
	margin: 0 auto;
}

input,
select {
	color: var(--alt-text);
	background-color: var(--dark-bg);
	outline-color: rgba(62, 130, 139, 0.3);
	padding: 0.4rem;
}

input::placeholder,
select ::placeholder {
	color: var(--alt-text);
}

.App {
	min-height: 100vh;
	display: flex;
	color: white;
	margin: 0 auto;
}

.page-container {
	margin: 0 auto 54px;
	padding-top: 2rem;
	/* padding-inline: 6rem; */
}

.banner {
	background: url('/banner-min.jpg') no-repeat fixed center;
	width: 100vw;
	height: 70vh;
	box-shadow: 43px 43px 95px #1f2229, -13px -3px 55px var(--shadow);
}
