/****************************/
/********** nav *************/
/****************************/
.nav-container {
	width: 100vw;
	padding: 0.5rem 1rem;
	position: fixed;
	background: var(--dark-bg);
	top: 0;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

.nav-container > span {
	display: flex;
}

.nav-container > span > span {
	margin-inline: 0.15rem;
}

.nav-link {
	color: #fff;
	cursor: pointer;
}
.nav-link.active {
	color: var(--accent);
}

/****************************/
/******** text-field ********/
/****************************/
.text-field-container {
	display: flex;
	flex-direction: column;
}

.text-field-container label {
	font-size: var(--normal-text);
}

.text-field-container input {
	border-radius: 4px;
}

.error-message {
	font-size: var(--small-text);
	color: var(--accent);
}

.number-field-container {
	display: flex;
	flex-direction: column;
	width: 40px;
}

/****************************/
/********** slide toggle *************/
/****************************/

.slide-toggle-container .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slide-toggle-container .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slide-toggle-container .slider:before {
	position: absolute;
	content: '';
	height: var(--toggle-thumb-diameter);
	width: var(--toggle-thumb-diameter);
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slide-toggle-container input:checked + .slider {
	background-color: var(--primary);
}

.slide-toggle-container input:focus + .slider {
	box-shadow: 0 0 1px var(--primary);
}

.slide-toggle-container input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slide-toggle-container .slider.round {
	/* Rounded sliders*/
	border-radius: 34px;
}

.slide-toggle-container .slider.round:before {
	border-radius: 50%;
}

/****************************/
/********** select *************/
/****************************/

.select-container {
	display: flex;
	flex-direction: column;
}

.select-container label,
.number-field-container label {
	font-size: var(--normal-text);
}

.select-container .dropdown-select {
	/* background-color: red;*/
	display: flex;
}

/****************************/
/****************************/
/****************************/

.app-form {
	padding: 2rem;
	border-radius: 8px;
	background: #282c34;
	transition: 0.3s;
	box-shadow: 23px 23px 45px #1f2229, -23px -23px 45px var(--shadow);
	min-height: 300px;
}

.new-form-container.open {
	padding: 2rem;
	border-radius: 8px;
	background: #282c34;
	box-shadow: 23px 23px 45px #1f2229, -23px -23px 45px var(--shadow);
	min-width: 300px;
	min-height: 400px;
}

.new-form-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	bottom: 2rem;
	right: 2rem;
}

.new-form-container .new-form-button.open {
	border-radius: 50%;
	height: 64px;
	width: 64px;
	background-color: var(--accent);
}

.new-form-container .open svg {
	width: 2rem;
	height: 2rem;
	stroke-width: 4px;
	color: #fff;
}

.new-form-container .new-form-button.close {
	background-color: transparent;
	width: 46px;
}

.new-form-container .new-form-button.close svg {
	width: 2rem;
	height: 2rem;
	stroke-width: 2px;
	color: var(--alt-text);
}

/****************************/
/****************************/
/****************************/

.app-card {
	padding: 1rem;
	margin: 1rem;
	border-radius: 8px;
	background: #282c34;
	cursor: pointer;
	transition: 0.3s;
	box-shadow: 23px 23px 45px #1f2229, -23px -23px 45px var(--shadow);
}

.app-card:hover {
	opacity: 0.7;
}

.app-modal {
	background-color: var(--bg);
	width: var(--modal-width);
	text-align: center;
	position: fixed;
	z-index: 99999;
	min-height: 400px;
	max-height: 66vh;
	left: calc(50vw - var(--modal-width) / 2);
	overflow-y: auto;
	border-radius: 0.85rem;
}

.app-modal header {
	text-align: right;
	padding: 0.5rem 1rem;
}

.app-modal header button {
	background-color: transparent;
	font-size: 20px;
}

.app-modal main {
	padding: 1rem;
}
.app-modal img {
	/* width: 300px; */
	height: 180px;
	border-radius: 6px;
}

.app-modal-overlay {
	background-color: rgba(62, 130, 139, 0.3);
	width: 1000vw;
	height: 1000vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

/****************************/
/****************************/
/****************************/

.list-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1286px) {
	.list-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 720px) {
	.list-container {
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 450px) {
	.list-container {
		--modal-width: 100%;
	}
}
